<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <!DOCTYPE html>
  
    <body>

        <div>
            <nav class="navbar navbar-expand-sm navbar-dark jf-navbar">
               <div class="navbar-header w-100 d-flex">
                  <button type="button" class="btn jf-hamburger-button">
                     <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                     </svg>
                     <!-- <span class="fas fa-bars"></span> -->
                  </button>
                  <a href="http://cmd.jiskefet.io/" class="navbar-brand"><img src="" width="30" height="30" alt="" class="d-inline-block align-top jf-logo">Jiskefet</a>
                  <ul class="jf-align-right mr-2">
                     <div>
                        <div class="jf-profile-nav-item">
                           <div class="btn-group">
                              <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle mt-2">
                                 <img src="./Jiskefet_files/24246171" alt="@Robin Hofman" height="25" width="25" class="rounded">
                                 <span>
                                    <svg class="svg-inline--fa fa-caret-down fa-w-10 jf-caret-down ml-2" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                       <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                                    </svg>
                                    <!-- <i class="fas fa-caret-down jf-caret-down ml-2"></i> -->
                                 </span>
                              </div>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <div href="/user/56" class="dropdown-item jf-dropdown-name">Signed in as <br> <b>roobinh</b></div>
                                 <div class="dropdown-divider"></div>
                                 <button href="/user/56" type="button" class="dropdown-item jf-dropdown-item">Your profile</button>
                                 <div class="dropdown-divider"></div>
                                 <button href="/tokens" type="button" class="dropdown-item jf-dropdown-item">Tokens</button>
                                 <div class="dropdown-divider"></div>
                                 <a href="http://cmd.jiskefet.io/api/doc/" target="_blank"><button type="button" class="dropdown-item jf-dropdown-item">API docs</button></a>
                                 <div class="dropdown-divider"></div>
                                 <button type="button" class="dropdown-item jf-dropdown-item">Sign out</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </ul>
               </div>
            </nav>
            <div class="jf-wrapper">
               <nav class="jf-sidebar ">
                  <ul class="list-unstyled components">
                     <li class="nav-item false"><a href="http://cmd.jiskefet.io/logs" class="nav-link">Logs</a></li>
                     <li class="nav-item false"><a href="http://cmd.jiskefet.io/runs" class="nav-link">Runs</a></li>
                     <li class="nav-item false"><a href="http://cmd.jiskefet.io/logs/create" class="nav-link">Create new log</a></li>
                     <li class="nav-item false"><a href="http://cmd.jiskefet.io/subsystems" class="nav-link">Subsystems Overview</a></li>
                     <li class="nav-item active"><a href="/flp" class="nav-link">FLP (live data)</a></li>

                  </ul>
                  <div class="jf-footer">Jiskefet v0.1.0</div>
               </nav>
               <div class="jf-content ">


                  <div class="container-fluid" id="serviceWorkerDiv">
                     <b id="notificationstext">Notifications</b><br>
                     <button id="swbutton" class=".btn-default">Notificaties aan</button>
                  </div>


                  <div class="container-fluid">
                     <div>
                        <div>
                           <div>
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="text-center"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
  
                              <div class="col-md-12 mb-5 collapse-transition">
                                 <div class="mb-2">
                                    <div class="row mb-2 ">
                                       <div class="col-md-10"></div>
                                       <div class="col-md-2"></div>
                                    </div>
                                 </div>
                                 <div>
                                    <div class="table-responsive">
                                       <table class="table table-sm table-bordered table-hover jf-table jf-font-sm" id="flptable">
                                          <thead class="thead-light">
                                             <tr>
                                                <th scope="col" class="jf-th null">Run number</th>
                                                <th scope="col" class="jf-th null">Time O² start</th>
                                                <th scope="col" class="jf-th null">Time O² end</th>
                                                <th scope="col" class="jf-th null">Time trg start</th>
                                                <th scope="col" class="jf-th null">Time trg end</th>
                                                <th scope="col" class="jf-th null">Activity id</th>
                                                <th scope="col" class="jf-th null">Run type</th>
                                                <th scope="col" class="jf-th null">Run quality</th>
                                                <th scope="col" class="jf-th null">Detectors</th>
                                                <th scope="col" class="jf-th null">FLPs</th>
                                             </tr>
                                          </thead>
                                          <tbody>

                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                                 <div class="bg-light rounded 
                                    p-1 border undefined">
                                    <div class="row">
                                       <div class="col-md-4 m-1 small-center">
                                          <div class="pagination-block"><label for="pageSize" class="col-form-label col-form-label-sm mr-2">Page size</label></div>
                                          <div class="pagination-block">
                                             <select id="pageSize" name="pageSize" class="form-control form-control-sm undefined" style="min-width: 75px; max-width: 75px; overflow: hidden;">
                                                <option value="">16</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="4">4</option>
                                                <option value="8">8</option>
                                                <option value="16">16</option>
                                                <option value="32">32</option>
                                                <option value="64">64</option>
                                                <option value="128">128</option>
                                                <option value="256">256</option>
                                                <option value="512">512</option>
                                             </select>
                                          </div>
                                          <div class="text-muted mt-2 ml-2 pagination-block">
                                             <div class="jf-pagecounter">1-16 of 1000 rows</div>
                                          </div>
                                       </div>
                                       <div class="col-md-4 m-1 small-center">
                                          <nav aria-label="Pages">
                                             <ul class="pagination pagination-sm jf-pagination">
                                                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                                                <li class="page-item active">
                                                   <input type="hidden" id="page-selector-id" value="1" class="page-selector form-control form-control-sm">
                                                   <div id="page-selector-label" data-toggle="tooltip" data-placement="bottom" title="" class="page-link page-selector-label" data-original-title="Click to manually select a page">1</div>
                                                </li>
                                                <li class="page-item"><a id="2" class="page-link">2</a></li>
                                                <li class="page-item"><a id="3" class="page-link">3</a></li>
                                                <li class="page-item disabled "><a class="page-link jf-page-non-link">of</a></li>
                                                <li class="page-item"><a id="63" class="page-link">63</a></li>
                                                <li class="page-item false"><a class="page-link">Next</a></li>
                                             </ul>
                                          </nav>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </body>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>