<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- saved from url=(0093)http://cmd.jiskefet.io/logs?orderBy=creationTime&orderDirection=DESC&pageSize=16&pageNumber=1 -->
    <html class="fontawesome-i2svg-active fontawesome-i2svg-complete"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <body>
    <script defer="" src="./Jiskefet_files/all.js.download" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
    <noscript>
        <h1 style="font-family: sans-serif; text-align: center">JavaScript must be enabled to run Jiskefet</h1>
    </noscript>
    
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark jf-navbar">
          <div class="navbar-header w-100 d-flex">
            <button type="button" class="btn jf-hamburger-button">
              <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
              </svg>
              <!-- <span class="fas fa-bars"></span> -->
            </button>
            <a href="http://cmd.jiskefet.io/" class="navbar-brand"><img src="./Jiskefet_files/alice_logo_text_white.png" width="30" height="30" alt="" class="d-inline-block align-top jf-logo">Jiskefet</a>
            <ul class="jf-align-right mr-2">
              <div>
                <div class="jf-profile-nav-item">
                  <div class="btn-group">
                    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle mt-2">
                      <img src="./Jiskefet_files/24246171" alt="@Robin Hofman" height="25" width="25" class="rounded">
                      <span>
                        <svg class="svg-inline--fa fa-caret-down fa-w-10 jf-caret-down ml-2" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                          <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                        </svg>
                        <!-- <i class="fas fa-caret-down jf-caret-down ml-2"></i> -->
                      </span>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <div href="/user/56" class="dropdown-item jf-dropdown-name">Signed in as <br> <b>roobinh</b></div>
                      <div class="dropdown-divider"></div>
                      <button href="/user/56" type="button" class="dropdown-item jf-dropdown-item">Your profile</button>
                      <div class="dropdown-divider"></div>
                      <button href="/tokens" type="button" class="dropdown-item jf-dropdown-item">Tokens</button>
                      <div class="dropdown-divider"></div>
                      <a href="http://cmd.jiskefet.io/api/doc/" target="_blank"><button type="button" class="dropdown-item jf-dropdown-item">API docs</button></a>
                      <div class="dropdown-divider"></div>
                      <button type="button" class="dropdown-item jf-dropdown-item">Sign out</button>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </nav>
        <div class="jf-wrapper">
          <nav class="jf-sidebar ">
            <ul class="list-unstyled components">
              <li class="nav-item false"><a href="http://cmd.jiskefet.io/logs" class="nav-link">Logs</a></li>
              <li class="nav-item false"><a href="http://cmd.jiskefet.io/runs" class="nav-link">Runs</a></li>
              <li class="nav-item false"><a href="http://cmd.jiskefet.io/logs/create" class="nav-link">Create new log</a></li>
              <li class="nav-item false"><a href="http://cmd.jiskefet.io/subsystems" class="nav-link">Subsystems Overview</a></li>
              <li class="nav-item active"><a href="/flp" class="nav-link">FLP (live data)</a></li>
            </ul>
            <div class="jf-footer">Jiskefet v0.1.0</div>
          </nav>
          <div class="jf-content "> 

            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover jf-table ">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="jf-th null">Log id</th>
                        <th scope="col" class="jf-th null">Title</th>
                        <th scope="col" class="jf-th null">Sub-type</th>
                        <th scope="col" class="jf-th null">Origin</th>
                        <th scope="col" class="jf-th jf-sort-desc">Creation time</th>
                        <th scope="col" class="jf-th null"># Flp's</th>
                        <th scope="col" class="jf-th null"># Epn's</th>
                        <th scope="col" class="jf-th null"># Detectors</th>
                        <th scope="col" class="jf-th null">Author</th>
                        <th scope="col" class="jf-th null">Author</th>
                        <th scope="col" class="jf-th null">Author</th>
                        <th scope="col" class="jf-th null">Author</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>144</td>
                        <td><a href="http://cmd.jiskefet.io/logs/144">faucibus orci luctus et ultrices posuere cubilia curae donec pharetra magna vestibulum aliquet ultrices erat</a></td>
                        <td>
                          <div class="text-center"><span class="badge badge-primary">comment</span></div>
                        </td>
                        <td>
                          <div class="text-center"><span class="badge badge-success">human</span></div>
                        </td>
                        <td>22:24:20 30/07/2019</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>662</td>
                        <td><a href="http://cmd.jiskefet.io/logs/662">ultrices libero non mattis pulvinar nulla pede ullamcorper augue a suscipit nulla elit ac nulla sed vel</a></td>
                        <td>
                          <div class="text-center"><span class="badge badge-primary">comment</span></div>
                        </td>
                        <td>
                          <div class="text-center"><span class="badge badge-success">human</span></div>
                        </td>
                        <td>20:32:43 30/07/2019</td>
                        <td>6</td>
                      </tr>
                    </tbody>
                  </table>

            
            
          </div>
        </div>
      </div>
      </body></html></main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>